<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ziplinks</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>

      function submit() {

        var url = "http://localhost:7878/generate";
        var data = document.getElementById("links").value;

        console.log(url);
        console.log(data);

        $.ajax({
          type: "POST",
          url: url,
          data: data,
          success: function(data, textStatus) {
            if (data.redirect) {
                // data.redirect contains the string URL to redirect to
                window.location.href = data.redirect;
            } else {
                // data.form contains the HTML for the replacement form
                $("#myform").replaceWith(data.form);
            }
          }
        });
      }
      
    </script>
  </head>
  <body>
    <h1>Ziplinks!</h1>
    <p>Zip zippity zip zip zip</p>
    <form method="POST" action="/generate">
      <textarea id="links" name="links" cols="50" rows="10"></textarea>
      <button>Submit</button>
    </form>
  </body>
</html>
